.col-no {
  width: 5% !important;
}

.col-title {
  width: 20% !important;
}

.col-tool {
  width: 10% !important;
}

.col-purpose {
  width: 15% !important;
}

.col-participants {
  width: 10% !important;
}

.col-progress {
  width: 15% !important;
}
